{% extends "base_template.html" %}

{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Jiliang monitor</a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">-->
          <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#">Dashboard</a></li>-->
            <!--<li><a href="#">Settings</a></li>-->
            <!--<li><a href="#">Profile</a></li>-->
            <!--<li><a href="#">Help</a></li>-->
          <!--</ul>-->
          <!--<form class="navbar-form navbar-right">-->
            <!--<input type="text" class="form-control" placeholder="Search...">-->
          <!--</form>-->
        <!--</div>-->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar sidebar_vue">
          <ul class="nav nav-sidebar">
            <li class="[[ overview_class ]]"><a href="/">Overview</a></li>
            <li class="[[ machines_class ]]"><a href="/machines" >机器管理</a></li>
            <li class="[[ images_class ]]"><a href="/images" >镜像管理</a></li>
            <li class="[[ containers_class ]]"><a href="/containers">容器部署</a></li>
            <li class="[[ products_class ]]"><a href="/products">项目版本</a></li>
            <li class="[[ deployment_class ]]"><a href="/deployments">服务部署</a></li>
            <li class="[[ task_class ]]" ><a class="" href="/tasks">任务管理</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<!--          <h1 class="page-header">Dash Board</h1>-->
          {% block boards %}
          <p>这里是仪表盘<p>
          {% endblock %}

          {% block contents%}
            <p>这里是内容区域<p>
            <h2 class="sub-header">这里是内容区域</h2>
            <div class="table-responsive">
          {% endblock %}

        </div>
      </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script>
    new Vue({
      el: '.sidebar_vue',
      data: {
        active: ''
      },
      methods: {
          doit:function(){
              this.active="active"
          }
      },
    })
  </script>

{% endblock %}
