{% extends "base_show_template.html" %}
  {% block boards %}
    {% if show_boards %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
    {% endif %}
  {% endblock %}

    {% block contents %}
      <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>地址</th>
                  <th>描述</th>
                  <th>描述2</th>
                  <th>描述3</th>
                </tr>
              </thead>
              <tbody>
                {% for sp in soft_packages %}
                    <tr>
                        <td>[[sp.full_name]]</td>
                      <td>[[sp.file_path]]</td>
                      <td>[[sp.reserve_1]]</td>
                      <td>adipiscing</td>
                      <td>elit</td>
                    </tr>
                {% endfor %}
                </tr>
              </tbody>
            </table>
            <div class="container col-sm-8">
              <p>
                [[index_readme|safe]]
              </p>
            </div>
          </div>
  {% endblock %}

