{% extends "base_add_edit_template.html" %}
    {% block boards %}
        {% if old_sp %}
          <h1 class="page-header">编辑条目</h1>
        {% else %}
            <h1 class="page-header">新增条目</h1>
        {% endif %}
    {% endblock %}

    {% block contents %}
      <div class="col-sm-8 col-sm-offset-2">
        <form method="post" action="[[url_for_post]]">
          <label for="package_name">包名+大中小版本号：例如 dev_helloworld_v0.1.0.tar</label>
          <div class="input-group">
            <span class="input-group-addon" id="input1"> = </span>
            <input type="text" class="form-control" id="package_name" aria-describedby="input1" value="[[old_sp.full_name]]">
          </div>
            <div class="alert alert-danger" role="alert" id="input_1_error_div">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only" >Error:</span>
                <p style="display: inline" id="input_1_error"></p>
            </div>

          <label for="package_path">相对存储地址：</label>
          <div class="input-group">
            <span class="input-group-addon" id="input2">${storage_root}:</span>
            <input type="text" class="form-control" id="package_path" aria-describedby="input2" value="[[old_sp.file_path]]">
          </div>
            <div class="alert alert-danger" role="alert" id="input_2_error_div">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only" >Error:</span>
                <p style="display: inline" id="input_2_error"></p>
            </div>

        {% if old_sp %}
          <label for="package_desc">描述信息：</label>
          <div class="form-group">
            <textarea class="form-control" rows="3" id="package_desc">[[old_sp.desc]]</textarea>
          </div>
        {% endif %}

            <div class="col-sm-10 col-sm-offset-0 " role="alert">
                <div class="col-sm-12 col-sm-offset-0 alert alert-danger" id="form_error_div">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only" >Error:</span>
                    <p style="" id="form_error"></p>
                </div>
            </div>
              <div class="col-sm-1 col-sm-offset-0">
            <label for="submit_btn"></label>
            <input type="button" class="btn btn-success btn-sm" id="submit_btn" value="Submit">
          </div>
        </form>
      </div>
    {% endblock %}


    {% block morescripts %}
    <script type="text/css">
        #input_1_error_div{
            display: none;
        }
    </script>
    <script >
        $(document).ready(function() {
            $("#input_1_error_div").hide();
            $("#input_2_error_div").hide();
            $("#form_error_div").hide();
            $("#package_name").change(function () {
                $("#input_1_error_div").hide();
                $("#form_error_div").hide();
            });
            $("#package_path").change(function () {
                $("#input_2_error_div").hide();
                $("#form_error_div").hide();
            });

            $("#submit_btn").click(function () {
                console.log("123131");
                data = {
                    "package_name":$("#package_name").val(),
                    "package_path":$("#package_path").val(),
                    "package_desc":$("#package_desc").val(),
                };
                $.post("[[url_for_post]]", data, function(data,status){
                  console.log(data);
                  console.log(status);
                  data = JSON.parse(data);
                  if(data.status=="success"){
                    $(location).attr("href","[[ success_url ]]");
                  }else{
                    if(data.info!=="failed on clear"){
                      $("#form_error").text(data.info);
                      $("#form_error_div").show();
                    }else{
                        if(data.info_2.length>0){
                            $("#input_2_error").text(data.info_2);
                            $("#input_2_error_div").show();
                        }
                        if(data.info_1.length>0){
                            $("#input_1_error").text(data.info_1);
                            $("#input_1_error_div").show();
                        }

                    }
                  }
                });
            });
        });
    </script>

    {%  endblock %}

