{% extends "base_show_template.html" %}
  {% block boards %}
    {% if show_boards %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
    {% endif %}
  {% endblock %}

    {% block contents %}
      <h2 class="sub-header">任务列表
        <button class="btn btn-warning btn-sm" aria-label="Left Align" style="margin-left:30px" id="test-btn">
                    启动测试任务<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </h2>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">real id</th>
            <th class="col-sm-0 col-sm-offset-0 ">#</th>
            <th class="col-sm-2 col-sm-offset-0 ">任务id</th>
            <th class="col-sm-5 col-sm-offset-0 ">状态</th>
            <th class="col-sm-3 col-sm-offset-0 ">描述</th>
            <!--<th class="col-sm-2 col-sm-offset-0 ">操作</th>-->
          </tr>
        </thead>
        <tbody>
          {% for m in tasks %}
              <tr class="[[m.tr_class]]">
                <td class="hidden">[[m.id]]</td>
                <td >[[loop.index]]</td>
                <td>[[m.note]]</td>
                <td>
                    <ul >
                        {% for b in m.state_track %}
                        <li style="display: inline">
                        {% if b.type=="N" %}
                            <span class="btn-xs btn-circle btn-info">[[b.content]]</span>
                        {% else %}
                            <a class="[[ b.html_class ]]" href="[[ b.url ]]">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                [[b.content]]
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                        &nbsp;
                        </li>
                        {% endfor %}
                    </ul>

                </td>
                <td>[[m.desc]]</td>
              </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  <script>
            $(document).ready(function() {
                $("#test-btn").click(function (e) {
                    let res=confirm("启动测试任务");
                    let post_data={
                      "test":$(this).val(),
                    };
                    if(res){
                      $.post("[[test_url]]",
                              post_data,
                              function(ret_data,status){
                        console.log(ret_data);
                        console.log(status);
                        ret_data = JSON.parse(ret_data);
                      });
                    }
                });
            });

  </script>
  {% endblock %}

