<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>JILIANG_MONITOR</title>

    <script src="/static/vue.js"></script>
    <script src="/static/jquery.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.js"></script>


    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

  </head>

  <body>

   {% block body %}
   <p>body模块</p>
   {% endblock %}

  </body>
</html>
