<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <script src="/static/vue.js"></script>
    <script src="/static/jquery.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.js"></script>


    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar sidebar_vue">
          <ul class="nav nav-sidebar">
            <li class="[[ overview_class ]]"><a href="/">Overview</a></li>
            <li class="[[ machines_class ]]"><a href="/machines" >机器 </a></li>
            <li class="[[ containers_class ]]"><a href="/containers">容器</a></li>
            <li class="[[ products_class ]]"><a href="/products">产品</a></li>
          </ul>
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item</a></li>#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#            <li><a href="">More navigation</a></li>#}
{#          </ul>#}
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#          </ul>#}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dash Board</h1>
          {% if show_boards %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
          {% endif %}

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>地址</th>
                  <th>描述</th>
                  <th>描述2</th>
                  <th>描述3</th>
                </tr>
              </thead>
              <tbody>
                {% for sp in soft_packages %}
                    <tr>
                        <td>[[sp.full_name]]</td>
                      <td>[[sp.file_path]]</td>
                      <td>[[sp.reserve_1]]</td>
                      <td>adipiscing</td>
                      <td>elit</td>
                    </tr>
                {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script>
    new Vue({
      el: '.sidebar_vue',
      data: {
        active: ''
      },
      methods: {
          doit:function(){
              this.active="active"
          }
      },
    })
  </script>
  </body>
</html>
